frontend/*.iml
frontend/.gradle
frontend/local.properties
frontend/.idea/*
.DS_Store
frontend/build
frontend/captures
frontend/.externalNativeBuild
backend/.idea/
backend/datasets/
backend/learning/__pycache__/
backend/learning/aws.key
